@model Mishutki.Domain.Entities.BannerPlace

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-title">
                <h2><strong>Basic Form</strong> Elements</h2>
            </div>
            @using (Html.BeginForm("Edit", "BannerPlace", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-bordered" }))
            {
                @Html.HiddenFor(b => b.BannerPlaceId)
                <div class="form-group">
                    @Html.LabelFor(b => b.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(c => c.Title, new { @class = "form-control", placeholder = "Категория" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Версия" class="col-md-2 control-label">Версия</label>
                    <div class="col-md-3">
                        <span class="version-block">ID: @Model.BannerPlaceId</span>
                        <span class="version-block">Создано: @Model.Created</span>
                        <span class="version-block">Изменено: @Model.Modified</span>
                        <span class="version-block">Изменил: @Model.CreatedByUser</span>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-md-8 col-md-offset-2">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-angle-right"></i> Сохранить</button>
                        <a class="btn btn-sm btn-warning" href="@Url.Action("Index")"><i class="fa fa-repeat"></i> Отменить</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
