@model Mishutki.WebUI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Сброс пароля";
}

<!-- BEGIN MAIN CONTENT -->
<div class="main col-sm-12">
    <div class="login col-sm-5 col-sm-offset-1">
        <h1 class="center">Сброс пароля</h1>
        <div class="col-sm-12">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-style", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Почта*" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль*" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Повторите пароль*" })

                <button class="btn btn-fullcolor" type="submit">Сбросить пароль</button>
            }
        </div>
    </div>

    <div class="login-info col-sm-4 col-sm-offset-1">
            <h1>Что дает регистрация?</h1>
        <p>После регистрации, вы получите возможность присылать на наш сайт свои шутки и анекдоты. Также, у вас появится возможность голосовать за понравившиеся шутки других зарегистрированных пользователей.</p>
        </div>
</div>
<!-- END MAIN CONTENT -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
